<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Cycle</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/images/girl-yoga.jpg"></ion-img>
      <ion-button color="primary" routerLink="/cycle" expand="block">Learn More</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card style="box-shadow:none">
    <ion-card-header>
      <ion-card-title>Understanding your cycle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <p>
      The menstrual cycle is a term used to describe the sequence of events that occur within a woman’s body as it prepares for the possibility of pregnancy each month. A menstrual cycle is considered to begin on the first day of a period. The average cycle is 28 days long; however, a cycle can range in length from 21 days to about 35 days.
     </p>
     <ion-list>
      <ion-item>
          <ion-card-title>Symptoms</ion-card-title>
      </ion-item>
      <ion-item>
          <ion-label>Pain</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Cramps</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Bleeding</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Mood Swing</ion-label>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
